<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <%= image_tag('cover-logo.png',alt: "logo", class: "edit-img") %>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </a>
    <hr>
   
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
      <li class="nav-item">
        <a href="/home" class="nav-link text-white"  aria-current="page">
          <em class="fa-solid fa-house"></em>&nbsp;&nbsp; Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/income" class="nav-link text-white" aria-current="page">
        <em class="fa-solid fa-sack-dollar"></em>&nbsp;&nbsp;
          Income
        </a>
      </li>
      <li>
        <a href="/expense" class="nav-link text-white">
          <em class="fa-solid fa-wallet"></em>&nbsp;&nbsp;
          Expense
        </a>
      </li>
            <li>
        <a href="/debt_recorder" class="nav-link text-white" id="active-tab" >
         <em class="fa-solid fa-hand-holding-dollar"></em>&nbsp;&nbsp;
         Record Debt
        </a>
      </li>
      <li>
        <a href="/feedback" class="nav-link text-white">
          <em class="fa-solid fa-comments"></em>&nbsp;&nbsp;
         feedback
        </a>
      </li>
    
    </ul>
    <hr>
    <a href="/logout" id="logout"><em class="fa-solid fa-right-from-bracket text-white"></em>&nbsp; Logout</a>

    </div>
</div>
<h2>Edit Debt</h2>
<% cur_debt = DebtRecorder.find(params['ej']) %>
  <p class="text-success"><%= flash[:notice] %></p> <p class="text-danger"><%= flash[:error] %></p>
<div class="debt-edit">
  <form action="/update_debt" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
    <input type="hidden" name="debt_recorders[id]" value="<%= cur_debt['id'] %>">
    <div class="form-group">
        <label >Date</label>
        <input type="date" class="form-control" name="debt_recorders[date]"  value = "<%= cur_debt['date']%>"placeholder="Enter Description">
      </div> <br>
    <div class="form-group">
      <label >Owed to</label>
      <input type="text" class="form-control" name="debt_recorders[owed_to]" value = "<%= cur_debt['owed_to']%>"placeholder="Enter Description">
    </div> <br>
    <div class="form-group">
      <label>Amount</label>
      <input type="number" class="form-control" name="debt_recorders[amount]" value = "<%= cur_debt['amount']%>"placeholder="Enter Amount">
    </div> <br>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="debt_recorders[description]" value = "<%= cur_debt['description']%>" placeholder="Enter Amount">
      </div> <br>
    <button type="submit" id="popup-submit" class="btn-c">Submit</button>
    <button type="button" id="popup-cancel" class="btn-c">Cancel</button>
  </form>

</div>