<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <%= image_tag('cover-logo.png',alt: "logo", id: "home-main-logo") %>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
        <li class="nav-item">
        <a href="/home" class="nav-link text-white"  aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
        </a>
        </li>
        <li class="nav-item">
        <a href="/income" class="nav-link text-white"aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Income
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white"  id="active-tab" >
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Expense
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Savings
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Record Debt
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          feedback
        </a>
        </li>
         <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Report
        </a>
        </li>
    </ul>
    <hr>

    </div>
</div>
<h2>Edit Expense</h2>
<% cur_exp = Expense.find(params['ee']) %>
  <p class="text-success"><%= flash[:notice] %></p> <p class="text-danger"><%= flash[:error] %></p>
<form action="/update_expense" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" name="expense[id]" value="<%= cur_exp['id'] %>">
  <div class="form-group">
      <label >Category</label>
      <input type="text" class="form-control" name="expense[category]" value="<%= cur_exp['category'] %>">
    </div> <br>
  <div class="form-group">
    <label >Description</label>
    <input type="text" class="form-control" name="expense[description]" value="<%= cur_exp['description'] %>">
  </div> <br>
  <div class="form-group">
    <label>Expense Amount</label>
    <input type="number" class="form-control" name="expense[amount]" value="<%= cur_exp['amount'] %>">
  </div> <br>
  <button type="submit" id="popup-submit" class="btn-c">Edit</button>
  <a href="/expense"><button type="button" id="popup-cancel" class="btn-c">Cancel</button></a>
</form>
