<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <%= image_tag('cover-logo.png',alt: "logo", id: "home-main-logo") %>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
        <li class="nav-item">
        <a href="/home" class="nav-link text-white"  aria-current="page">
           <i class="fa-solid fa-house"></i>&nbsp;&nbsp;
            Home
        </a>
        </li>
        <li class="nav-item">
        <a href="/income" class="nav-link text-white"aria-current="page">
           <i class="fa-solid fa-sack-dollar"></i>&nbsp;&nbsp;
            Income
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white"  id="active-tab" >
              <i class="fa-solid fa-wallet"></i>&nbsp;&nbsp;
            Expense
        </a>
        </li>
        <li>
        <a href="/debt_recorder" class="nav-link text-white">
             <i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;
            Record Debt
        </a>
        </li>
        <li>
        <a href="/feedback" class="nav-link text-white">
            <i class="fa-solid fa-comments"></i>&nbsp;&nbsp;
          feedback
        </a>
        </li>
         <li>
        <a href="/report" class="nav-link text-white">
        <i class="fa-solid fa-clipboard"></i> &nbsp;&nbsp;
          Report
        </a>
        </li>
    </ul>
    <hr>

    </div>
</div>

<div id="main-div" class="container">
  <h3 class="mb-5">Itemize Your Expenses</h3>
  <div class="row mt-2" >
  <div class="col-5">
  <form>
      <input type="search" name="search" class="form-control" placeholder="Search Expenses" />
    </div>
    <div class="col-4">
      <button type="submit"class="btn-c"><i class="fas fa-search"></i>&nbsp; Search</button>
    </div>
  </form>
    <div class="col-2">
      <button type="button" class="btn-c" id="add-action-btn"><i class="fa-solid fa-plus"></i>&nbsp; Add Expense</button>
    </div>
  </div>
  <div class="row d-flex mt-4">
    <div class="inc-table-div col-9">
        
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">category</th>
            <th scope="col" colspan="2">Description</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
        <% s_no = 1 %>
        <%Expense.all.each do |e|%>
          <tr>
            <th scope="row"><%= s_no %></th>
            <% s_no = s_no + 1 %>
            <td><%= e.category%></td>
            <td colspan="2"><%= e.description%></td>
            <td><%= e.amount %></td>
            <td>

              <a href="/edit_expense/<%= e.id %>"> <i class="fa-solid fa-pen"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
              <a href="/exp_dlt/<%= e.id %>"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          <%end%>

        </tbody>
      </table>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>

<div id="popup-form">
  <h2>Add Expense</h2>
   <p class="text-success"><%= flash[:notice] %></p> <p class="text-danger"><%= flash[:error] %></p>
  <form action="/create_expense" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="expense[users_id]" value="<%= session[:user]['id'] %>">
    <div class="form-group">
        <label >Category</label>
        <input type="text" class="form-control" name="expense[category]" placeholder="Enter Description">
      </div> <br>
    <div class="form-group">
      <label >Description</label>
      <input type="text" class="form-control" name="expense[description]" placeholder="Enter Description">
    </div> <br>
    <div class="form-group">
      <label>Expense Amount</label>
      <input type="number" class="form-control" name="expense[amount]" placeholder="Enter Amount">
    </div> <br>
    <button type="submit" id="popup-submit" class="btn-c">Submit</button>
    <button type="button" id="popup-cancel" class="btn-c">Cancel</button>
  </form>
</div>

<%=javascript_include_tag 'income'%>
