<style>
  body{
    background-color: #1A8367;
  }
</style>
<div class="container">
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex">
          <%= image_tag('5141092.jpg',alt: "logo", id: "logo-img", class: "login-img") %>
        </div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
           Enter your Registered Email
          </h4>
          <p class="text-success"><%= flash[:notice] %></p>
          <form class="form-box px-3" action="/generate_otp" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <div class="form-input">
              <span><em class="fa-solid fa-envelope icns"></em></span>
              <input type="email" name="email" placeholder="Email" tabindex="10" required>
            </div>
            <div><p class="text-danger"><%= flash[:error] %></p></div>
            
            <div class="d-inline-flex">
              <button type="submit" class="btn-c-l">
                Generate otp
               </button>
            </div>   <br> <br>
            <div class="d-inline-flex">
              <p>Go back to </p>&nbsp;<a href="/login"> login</a>
            </div>
              
             
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'reg-login' %>

