<% cur_user = session[:user] %>
<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <%= image_tag('cover-logo.png',alt: "logo", id: "home-main-logo") %>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
      <li class="nav-item">
        <a href="/home" class="nav-link text-white" id="active-tab" aria-current="page">
          <i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/income" class="nav-link text-white" aria-current="page">
        <i class="fa-solid fa-sack-dollar"></i>&nbsp;&nbsp;
          Income
        </a>
      </li>
      <li>
        <a href="/expense" class="nav-link text-white">
          <i class="fa-solid fa-wallet"></i>&nbsp;&nbsp;
          Expense
        </a>
      </li>
            <li>
        <a href="/debt_recorder" class="nav-link text-white">
         <i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;
         Record Debt
        </a>
      </li>
      <li>
        <a href="/feedback" class="nav-link text-white">
          <i class="fa-solid fa-comments"></i>&nbsp;&nbsp;
         feedback
        </a>
      </li>
    
    </ul>
    <hr>
    
  <a href="/logout" id="logout"><i class="fa-solid fa-right-from-bracket text-white"></i>&nbsp; Logout</a>
  </div>

<div id="home-top-div">
  <div class="row" id="home-top-panel">
    <div class="col-4 home-top-sub">
      <i class="fa-solid fa-sack-dollar color-green mt-1"></i>
      &nbsp; &nbsp;<p class="h4 mt-2">Income</p>
      &nbsp; &nbsp;<p class="h4 mt-2">&#8377;<%=Income.where(users_id: cur_user['id']).sum(:amount)%></p>
    </div>
    <div class="col-4 home-top-sub">
      <i class="fa-solid fa-wallet color-green mt-1"></i>
      &nbsp; &nbsp;<p class="h4 mt-2">Expense</p>
      &nbsp; &nbsp;<p class="h4 mt-2">&#8377;<%=Expense.where(users_id: cur_user['id']).sum(:amount)%></p>
    </div>
    <div class="col-3 home-top-sub">
      <i class="fa-solid fa-piggy-bank color-green mt-1"></i>
      &nbsp; &nbsp;<p class="h4 mt-2">Balance</p>
      &nbsp; &nbsp;<p class="h4 mt-2">&#8377;<%= MainBalance.find_by(users_id: cur_user['id'])["amount"] %></p>
    </div>
  </div>
  <div id="home-graph-div">
      <div class="container">
        <canvas id="myChart" width="600px" height="200px" data-labels="<%= @data_category %>"
          data-data="<%= @data_data %>"></canvas>   
      </div>
  </div>
  <div>

  </div>
</div>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const massPopChart = new Chart(ctx,{
  type:'bar',
      data:{
          labels: JSON.parse(ctx.canvas.dataset.labels),
          datasets: [{  
          data: JSON.parse(ctx.canvas.dataset.data),
          backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(245,104,22,96)',
      'rgb(255,207,165,100)'
        ],
      }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          // text: "MoneyBee's Expense Report"
        }
      }
      });
</script>