<% cur_user = session[:user] %>
  <div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <%= image_tag('mb-mini.png',alt: "logo", id: "home-main-logo") %>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
        <li class="nav-item">
        <a href="/home" class="nav-link text-white"  aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
        </a>
        </li>
        <li class="nav-item">
        <a href="/income" class="nav-link text-white" id="active-tab" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Income
        </a>
        </li>
        <li>
        <a href="/expense" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Expense
        </a>
        </li>
        
        <li>
        <a href="/debt_recorder" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Record Debt
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            feedback
        </a>
        </li>
    </ul>
    <hr>

    </div>
</div>

<div id="main-div" class="container">
  <h3 class="mb-5">Manage your Income</h3> <p class="text-success"><%= flash[:notice] %></p> <p class="text-danger"><%= flash[:error] %></p>
  <div class="row mt-2" >
    <div class="col-5">
  <form action="/search" >
   
      <input type="search" class="form-control" name="q" placeholder="Search Income" />
    </div>
    <div class="col-4">
      <a href=""><button class="btn-c"><i class="fas fa-search"></i>&nbsp; Search</button></a>
    </div>
  </form>
    <div class="col-2">
      <button type="button" class="btn-c" id="add-action-btn"><i class="fa-solid fa-plus"></i>&nbsp; Add Income</button>
    </div>
  </div>
  <div class="row d-flex mt-4">
    <div class="inc-table-div col-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>

            <th scope="col" colspan="2">Description</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% s_no = 1 %>
        <% Income.where(users_id: cur_user["id"]).map do |t|%>
          <tr>
            <th scope="row"><%= s_no %></th>
            <% s_no = s_no + 1 %>
            <td colspan="2"><%= t.description%></td>
            <td><%= t.amount %></td>
            <td>
           <a href="/edit_income/<%= t.id%>"> <i class="fa-solid fa-pen"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
             <a href="/delete/<%= t.id %>"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
          <%end%>
        </tbody>
      </table>

    </div>
    <div class="col-3">

    </div>
  </div>
</div>

<div id="popup-form">
  <h2>Add Income</h2>
  <form action="/create_income" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input name="income[users_id]" type="hidden" value="<%= cur_user['id'] %>" >
    <div class="form-group">
      <label >Description</label>
      <input type="text" name="income[description]" class="form-control" placeholder="Enter Description (optional)">
    </div> <br>
    <div class="form-group">
      <label>Income Amount</label>
      <input type="number" name="income[amount]" class="form-control" placeholder="Enter Amount" required>
    </div> <br>
    <button type="submit" id="popup-submit" class="btn-c">Submit</button>
    <button type="button" id="popup-cancel" class="btn-c">Cancel</button>
  </form>

</div>

<%= javascript_include_tag 'income' %>
