<% cur_user = session[:user] %>
  <div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <%= image_tag('cover-logo.png',alt: "logo", id: "home-main-logo") %>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
        <li class="nav-item">
        <a href="/home" class="nav-link text-white"  aria-current="page">
              <i class="fa-solid fa-house"></i>&nbsp;&nbsp;
            Home
        </a>
        </li>
        <li class="nav-item">
        <a href="/income" class="nav-link text-white" id="active-tab" aria-current="page">
               <i class="fa-solid fa-sack-dollar"></i>&nbsp;&nbsp;
            Income
        </a>
        </li>
        <li>
        <a href="/expense" class="nav-link text-white">
                    <i class="fa-solid fa-wallet"></i>&nbsp;&nbsp;
            Expense
        </a>
        </li>
        
        <li>
        <a href="/debt_recorder" class="nav-link text-white">
             <i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;
            Record Debt
        </a>
        </li>
        <li>
        <a href="/feedback" class="nav-link text-white">
           <i class="fa-solid fa-comments"></i>&nbsp;&nbsp;
            feedback
        </a>
        </li>
       
    </ul>
    <hr>
    <a href="/logout" id="logout"><i class="fa-solid fa-right-from-bracket text-white"></i>&nbsp; Logout</a>

    </div>
</div>

<div id="main-div" class="container">
  <h3 class="mb-5">Manage your Income</h3> <p class="text-success"><%= flash[:notice] %></p> <p class="text-danger"><%= flash[:error] %></p>
  <div class="row mt-2" >
    <div class="col-4">
  <form action="/search_inc" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="search" class="form-control" name="inc" placeholder="Search Income" />
    </div>
    <div class="col-4">
      <a href=""><button class="btn-c"><i class="fas fa-search"></i>&nbsp; Search</button></a>
    </div>
  </form>
    <div class="col-2">
      <button type="button" class="btn-c" id="add-action-btn"><i class="fa-solid fa-plus"></i>&nbsp; Add Income</button>
    </div>
  </div>
  <div class="row d-flex mt-4">
    <div class="inc-table-div col-7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col" colspan="2">Description</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% s_no = 1 %>
        <% Income.where(users_id: cur_user["id"]).map do |t|%>
          <tr>
            <th scope="row"><%= s_no %></th>
            <% s_no = s_no + 1 %>
            <td colspan="2"><%= t.description%></td>
            <td><%= t.amount %></td>
            <td>
           <a href="/edit_income/<%= t.id%>"> <i class="fa-solid fa-pen"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
             <a data-id="<%=t.id %>" onclick="delete_confirm(this)"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
          <%end%>
        </tbody>
      </table>

    </div>
    <div class="col-3">
    </div>
  </div>
</div>

<div id="popup-form">
  <h2>Add Income</h2>
  <form action="/create_income" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input name="income[users_id]" type="hidden" value="<%= cur_user['id'] %>" >
    <div class="form-group">
      <label >Description</label>
      <input type="text" name="income[description]" class="form-control" placeholder="Enter Description (optional)">
    </div> <br>
    <div class="form-group">
      <label>Income Amount</label>
      <input type="number" name="income[amount]" class="form-control" placeholder="Enter Amount" required>
    </div> <br>
    <button type="submit" id="popup-submit" class="btn-c">Submit</button>
    <button type="button" id="popup-cancel" class="btn-c">Cancel</button>
  </form>

</div>
<div id="income-graph-div">
  <div class="income-container" style = "height:30vh; width:80vw" >
    <canvas id="income-myChart" data-labels="<%= @data_category %>"
      data-data="<%= @data_data %>"></canvas>   
  </div>
</div>
<div id="confirm-box">
  <p>Are you sure do you want to delete this income?</p>
  <div class="float-end">
      <a href="" id="del-a"><button class="btn-c-l">Delete</button></a>
      <button  class="btn-c-l" onclick="hide_box()">Cancel</button>
  </div>
</div>




<%= javascript_include_tag 'income' %>

<script>

let div = document.getElementsByClassName("col-3")
// div.style.backgroundColor = "red";
  const ctx = document.getElementById('income-myChart').getContext('2d');
  // ctx.style.color ="red";
  const massPopChart = new Chart(ctx,{
  type:'pie',
      data:{
          labels: JSON.parse(ctx.canvas.dataset.labels),
          datasets: [{  
          data: JSON.parse(ctx.canvas.dataset.data),
           backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(245,104,22,96)',
      'rgb(255,207,165,100)'
        ],
      }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "MoneyBee's Expense Report"
        }
      }
      });
  
      let main_div = document.getElementById("main-div");
     let del_div = document.getElementById('confirm-box');
    let delete_confirm = a => {
        let del_id = a.getAttribute('data-id');
        document.getElementById('del-a').href = "/inc_dlt/"+del_id
        main_div.style.filter = "blur(5px)"
        del_div.style.display = "block";

  }    
  function hide_box() {
        main_div.style.filter = "blur(0px)";
        del_div.style.display = "none";
  }

</script>
