<style>
  body{
    background-color: #1A8367;
  }
</style>
<div class="container">
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex">
          <%= image_tag('5141092.jpg',alt: "logo", id: "logo-img", class: "login-img") %>
        </div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
            Login
          </h4>
          <p class="text-success"><%= flash[:notice] %></p>
          <form class="form-box px-3" action="/to_login_handler" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <div class="form-input">
              <span><em class="fa-solid fa-envelope icns"></em></span>
              <input type="email" name="user[email]" placeholder="Email" tabindex="10" required>
            </div>
            <div class="form-input">
              <span><em class="fa-solid fa-key icns"></em></span>
              <input type="password" id="password" name="user[password]" placeholder="Password" required>
            </div>
            <div><p class="text-danger"><%= flash[:error] %></p></div>
            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="show-pass-cb">
                <label class="custom-control-label">Show password</label>
              </div>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-block ">
                Log in
              </button>
            </div>

            <div class="text-right">
              <a href="/forgot_password" class="forget-link">
                Forgot Password?
              </a>
            </div>

            <hr class="my-4">
            <div class="text-center mb-2">
              Don't have an account?
              <a href="/signup" class="register-link">
                Signup
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'reg-login' %>

