<style>
  body{
    background-color: #1A8367;
  }
</style>
<div class="container">
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex">
          <%= image_tag('5141092.jpg',alt: "logo", id: "logo-img", class: "login-img") %>
        </div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
           Create New Password
          </h4>
          <p class="text-success"><%= flash[:notice] %></p>
          <form class="form-box px-3" action="/new_password" id="sub-form" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <div class="form-input">
              <span><em class="fa-solid fa-key icns"></em></span>
              <input type="password" id="password" name="user[password]" placeholder="New Password" tabindex="10" required>
            </div>
             <div class="form-input">
              <span><em class="fa-solid fa-key icns"></em></span>
              <input type="password" id="cpassword"  placeholder="Confirm Password" tabindex="10" required>
            </div>
            <div><p class="text-danger"><%= flash[:error] %></p></div>
            <div id="warn-div" class="text-danger"></div>
            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="show-pass-cb">
                <label class="custom-control-label">Show password</label>
              </div>
            </div>
            <div class="mb-3 d-inline-flex">
              <button type="button" id="submit_btn" class="btn-c-l">
               Submit
              </button>
              
            </div>

      
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'reg-login' %>
